@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.cabeçalho {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background-color: rgba(0, 39, 168, 1);
 padding: 10px 20px;
 border-bottom: 5px solid #e74c3c;
}
body { 
    font-family: Arial, sans-serif;
    background: rgba(7, 3, 49, 1); 
    color: white; 
    text-align: center; 
    margin: 0;
}
.header { 
    background-color: rgba(8, 3, 60, 1); 
    padding: 10px; }
.titulo { 
    color: rgb(255, 72, 0); 
}
.balões { 
    width: 80%; margin: 20px auto; 
}
.balões_ { 
    background: rgba(8, 3, 60, 1); 
    padding: 40px; margin: 40px 0; 
    border-radius: 5px; 
    text-align: left; 

}
.footer { 
    padding: 20px;
    border-top: 5px solid #e74c3c;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 72, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 3px; 
    font-weight: bold;

}
footer {
    background-color: rgba(8, 3, 60, 1);
    padding: 20px;
    text-align: center;
}
.columns {
    display: flex;
    justify-content: space-around;
}
li{
    padding: 15px;
}
ul{
    list-style-type: none;
}
.compra { 
    background: rgb(255, 72, 0); 
    padding: 15px; margin: 70px 0; 
    border-radius: 5px; 
    text-align: center; 
}
a{
    text-decoration: none;
    color: white;
}